@model IEnumerable<Soniclogistics_updated.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OperatingUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RfqId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RfqId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grn.GrnId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
