@model Soniclogistics_updated.Models.Po

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Po</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expected_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expected_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prod.ProdId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rfq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rfq.RfqId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sup.SupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
